body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

.card {
  width: 300px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  padding: 8px 15px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-content {
  background:white;
  padding:20px;
  border-radius:10px;
}

#exercise-container {
  text-align:center;
  margin-top:50px;
}

img {
  width:200px;
  height:auto;
}
